* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
}
html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #474747;
  line-height: 1.6875;
}
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -.03em;
  margin: 0 0 40px;
}
h1 a {
  color: #3a3a3a;
  text-decoration: none;
}
h2 {
  font-size: 19px;
  font-weight: bold;
}
a {
  color: #2c9ab7;
}
.masthead {
  background-color: #fff;
  box-shadow: 0 0 2px rgba(6,8,8,0.15);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 81px;
  margin-bottom: 81px;
}
.masthead-title {
  text-decoration: none;
  color: #474747;
  font-size: 19px;
  font-weight: bold;
  display: block;
  margin: 0;
}
.masthead-description {
  color: #999;
}
.container {
  margin: 0 auto;
  padding: 0 18px;
  width: 636px;
}
.post-date {
  font-weight: 200;
}
.post {
  -webkit-font-smoothing: antialiased;
}
.post p {
  margin: 1em 0;
}
.post .highlight {
  background-color: #efefef; 
  padding: 13px 27px 14px;
  width: 654px;
  position: relative;
  right: 27px;
}
.post .highlight pre {
  display: inline-block;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

